<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Guess the food</title>
    <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function updateTime() {
                var timestamp_user = {{ user.timer }};
                console.log(timestamp_user);
                var secondi_totali = {{secondi_totali}};
                var secondi_timer=0;
                var minuti_timer=0;
                if(secondi_totali%60==0){
                    secondi_timer=60;
                    minuti_timer=secondi_totali/60-1;
                }
                else{
                    secondi_timer = secondi_totali%60;
                    minuti_timer=secondi_totali/60;
                }

                var now = new Date();
                var date = new Date(timestamp_user * 1000);
                var timeDifference = now - date;
                var secondsPassed_totali = Math.floor(timeDifference / 1000);
                if(secondsPassed_totali>=secondi_totali){
                    timerTerminato();
                    return;
                }
                var seconds = secondi_timer-(Math.floor(timeDifference / 1000)%60); // Reset seconds to zero when they reach 60

                var minutes = minuti_timer- Math.floor(secondsPassed_totali / 60);
                var formattedTime = (minutes)%60 + ':' + (seconds)%60;

                document.getElementById("timer").innerHTML = formattedTime;
            }
        
            setInterval(updateTime, 1000);
        });
        
       
    </script>
</head>
<body>
    <!-- Barra di navigazione -->
    <div class="navbar">
        <div class="navbar-item">Punteggio: {{ user.punteggio }}</div>
        <!--<div class="navbar-item">Vite: {{ user.vite }}</div> -->
       <div class="navbar-item">Vite: {{ user.vite }}   Timer: <span id="timer"></span></div>
    </div>
    
    <h1>Indovina il cibo</h1>
    
    <img src="{{ url_for('static',filename=photo.path) }}" alt="Image">

    <div id="div_form">
        <form action="/check_vittoria" method="post">
        {% for cat in categorie %}
            <input type="radio" name="radio_categorie" id="radio_{{ cat }}" value="{{ cat }}">
            <label for="radio_{{ cat }}">{{ cat }}</label>
        {% endfor %}
            <input type="submit" value="Invia"><br>
        </form>
        <button id="button_index" onclick="location.href='/';">Home</button>
    </div>

</body>
</html>
