<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Guess the food</title>
    <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</head>
<body>
   <h1>Indovina il cibo</h1>
   <button id="start-game" onclick="start_button();">Inizia il gioco</button>
   <button id="get-classifica" onclick="getClassifica();">Classifica</button>
   <button id="logout" onclick="logout();">Logout</button>


</body>
</html>