<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Collegamento al file CSS -->
    <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</head>
<body>

    <form class="form_accesso" action="/login" method="POST">
        <h1>Login</h1><br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" class="button_form" value="Login">
        <button id="signin" class="button_form" onclick="location.href='/signin';">Sign In</button>
    </form>
    {% if not bool_login %}
        <p>Login errato</p>
    {% endif %}
</body>
</html>